@model OdeToFood2.Models.Restaurant

@{ 
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

<div>ID: @Model.Id</div>
<div>Cuisine: @Model.Cuisine</div>
<div>@Html.ActionLink("Homepage", "Index")</div>
